In [44]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import pprint
import time

In [45]:
############ defining the urls needed

####---------------------------------------
##url for the Nasa news site
nasa_news_url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

####---------------------------------------
##urls for the jpl site

#base url for jpl site
jpl_base_url="https://www.jpl.nasa.gov"

#url for "Mars" search for jpl
jpl_mars_url=jpl_base_url+"/spaceimages/?search=&category=Mars"

####---------------------------------------
##url for space facts page
mars_facts_url="https://space-facts.com/mars/"

####---------------------------------------
##urls for hemisphere data

#base url for hemisphere site
hem_base_url="https://astrogeology.usgs.gov"

#page we'll use to access each hemisphere page
hem_url=hem_base_url+"/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [46]:
#using splinter since requests is only returning partial results
executable_path = {'executable_path': "C:/Program Files (x86)/Chrome Driver/chromedriver.exe"}

browser = Browser('chrome', executable_path, headless=False)

In [47]:
########### in this block, we're going to try to run all the browser.visit(x) and html=browser.html statements so we can close the the browser out more quickly

#opening browser to the nasa news website
browser.visit(nasa_news_url)
time.sleep(2)
#extracting html from the nasa news website
nasa_news_html=browser.html



#opening browser to jpl site 
browser.visit(jpl_mars_url)
time.sleep(2)
#extracting html
jpl_html=browser.html
# browser.quit()


#visiting mars facts page and grabbing html
browser.visit(mars_facts_url)
time.sleep(2)
### defining the html
mars_facts_html=browser.html

####------------------------------------------------------------------------------
####visiting the mars hemispheres site and grabbing the html

browser.visit(hem_url)
time.sleep(2)
hem_html=browser.html

#parsing hemisphere site
hem_soup=bs(hem_html,'html.parser')

### get the image url string, hemisphere title containing the hemispher name

##a results set that contain the links to each hemisphere
hem_items=hem_soup.find_all(class_="item")

hem_list=[]

### visit each hemisphere page and...
for result in hem_items:
    print("--------")

    #opens to the browser to the current hemisphere page
    browser.visit(hem_base_url+result.a["href"])
    time.sleep(1)

    ##opening the image to view it full size
    browser.find_link_by_text("Open").first.click()
    time.sleep(1)

    #defines the current html 
    current_html=browser.html
    cur_soup=bs(current_html,'html.parser')
    
    # # adds to the dictionary. The key is the hemisphere title and the value is the image link

    current_dict={}
    # current_dict[cur_soup.find('title').text]=hem_base_url+cur_soup.find('img',class_="wide-image")['src']

    #### renaming keys for better access later
    current_dict["title"]=cur_soup.find('title').text
    current_dict["img_url"]=hem_base_url+cur_soup.find('img',class_="wide-image")['src']

    hem_list.append(current_dict)

# print(hem_img_dict)
browser.quit()
hem_list

--------
--------
--------
--------

[{'title': 'Cerberus Hemisphere Enhanced | USGS Astrogeology Science Center',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced | USGS Astrogeology Science Center',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced | USGS Astrogeology Science Center',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced | USGS Astrogeology Science Center',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [48]:
# #opening browser to the nasa news website
# browser.visit(nasa_news_url)
# time.sleep(2)
# #extracting html from the nasa news website
# nasa_news_html=browser.html

In [49]:
#parsing the html
nasa_news_soup=bs(nasa_news_html,'html.parser')

In [50]:
### realized i stored all the articles instead of the first article, grabbing the first artclie here

first_art=nasa_news_soup.find(class_="item_list")

# print(first_art.text)

## gets the articles title
first_art.find(class_="content_title").text
first_art.find(class_="article_teaser_body").text

art_dict={
    "news_title":first_art.find(class_="content_title").text,
    "news_p":first_art.find(class_="article_teaser_body").text

}
art_dict
# first_art.find("p")

{'news_title': 'NASA Moves Forward With Campaign to Return Mars Samples to Earth',
 'news_p': 'During this next phase, the program will mature critical technologies and make critical design decisions as well as assess industry partnerships.'}

In [51]:

# #finds the list in the html which contains the article titles and paragraphs we seek

# articles=nasa_news_soup.find(class_="item_list")

# time.sleep(5)
# #creates a dictionary with a basic index as the key and the title & paragraphs as keys
# #creates a dictionary with the title as the key and the paragraph as the value
# art_dict={item.find(class_="content_title").text:item.text for item in articles}

# art_dict

In [52]:
### getting the image url from the jpl site

In [53]:
# #opening browser to jpl site 
# browser.visit(jpl_mars_url)
# #extracting html
# time.sleep(2)
# jpl_html=browser.html
# # browser.quit()

In [54]:
#parsing the html for the jpl site
jpl_soup=bs(jpl_html,'html.parser')

In [55]:

#### dont need this
# #### finds and prints out the last half of each jpg's url
# jpl_image=jpl_soup.find_all(class_="slide")
# # print(jpl_image)
# for x in jpl_image:
#     # print(x.a)
#     print(x.a["data-fancybox-href"])
#     print("======")

In [56]:
## finds the partial url for the first image
partial_jpl_image_url=jpl_soup.find(class_="slide").a["data-fancybox-href"]

## joins the partial url to the initial url to get the full image url
featured_image_url=jpl_base_url+partial_jpl_image_url

print(featured_image_url)
# browser.visit(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA24278_hires.jpg

In [57]:
# #visiting mars facts page and grabbing html
# browser.visit(mars_facts_url)
# ### defining the html
# mars_facts_html=browser.html

In [58]:
#grabbing the first table from the mars facts html and turning it into a dataframe

fact_df=pd.read_html(mars_facts_html)[0]
fact_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [59]:
# ####visiting the mars hemispheres site and grabbing the html

# browser.visit(hem_url)

# hem_html=browser.html

In [60]:
# #parsing hemisphere site
# hem_soup=bs(hem_html,'html.parser')

In [61]:
# ### get the image url string, hemisphere title containing the hemispher name

# ##a results set that contain the links to each hemisphere
# hem_items=hem_soup.find_all(class_="item")

# hem_image_list=[]
# hem_title_list=[]
# hem_img_dict={}
# ### visit each hemisphere page and...
# for result in hem_items:
#     print("--------")

#     #opens to the browser to the current hemisphere page
#     browser.visit(hem_base_url+result.a["href"])
#     time.sleep(1)

#     ##opening the image to view it full size
#     browser.find_link_by_text("Open").first.click()
#     time.sleep(1)

#     #defines the current html 
#     current_html=browser.html
#     cur_soup=bs(current_html,'html.parser')
    
#     # adds to the dictionary. The key is the hemisphere title and the value is the image link
#     hem_img_dict[cur_soup.find('title').text]=hem_base_url+cur_soup.find('img',class_="wide-image")['src']

# print(hem_img_dict)

In [62]:
##final dictionary
final_dict={
    "Hemispheres":hem_list,
    "Articles":art_dict,
    "Featured Image":featured_image_url,
    "Facts Dataframe":fact_df,
}

In [63]:
fact_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [64]:
#### turn fact dataframe into a dictionary

fact_dict=fact_df.to_dict("dict")
fact_dict[0]
fact_dict[0][0]

final_fact_dict={}

for b in range(len(fact_df)):
    final_fact_dict[fact_dict[0][b]]=fact_dict[1][b]


final_fact_dict

{'Equatorial Diameter:': '6,792 km',
 'Polar Diameter:': '6,752 km',
 'Mass:': '6.39 × 10^23 kg (0.11 Earths)',
 'Moons:': '2 (Phobos & Deimos)',
 'Orbit Distance:': '227,943,824 km (1.38 AU)',
 'Orbit Period:': '687 days (1.9 years)',
 'Surface Temperature:': '-87 to -5 °C',
 'First Record:': '2nd millennium BC',
 'Recorded By:': 'Egyptian astronomers'}

In [72]:
fact_df.to_html()
print(type(fact_df.to_html()))

fact_df.to_html(header=False,index=False)

<class 'str'>

'<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'