In [17]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import pprint

In [18]:
nasa_news_url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

jpl_base_url="https://www.jpl.nasa.gov"

### this is kinda repetative, I might change this to jpl_base_url +"?search=&category=Mars"
jpl_mars_url="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

mars_facts_url="https://space-facts.com/mars/"

In [19]:
#using splinter since requests is only returning partial results
executable_path = {'executable_path': "C:/Program Files (x86)/Chrome Driver/chromedriver.exe"}

browser = Browser('chrome', executable_path, headless=False)

In [20]:
####### i might want to put all the "browser.visit(x)" and "html=browser.html" lines in the same cell so the browser is open for a shorter time and a can close it sooner

#opening browser to the nasa news website
browser.visit(nasa_news_url)

#extracting html from the nasa news website
nasa_news_html=browser.html
# browser.quit()

In [21]:
#parsing the html
nasa_news_soup=bs(nasa_news_html,'html.parser')

In [22]:
###### I might want to add a try block that redo's this entire cell if the "articles" variable returns a nonetype. I might want to define all of this as a function first????
#finds the list in the html which contains the article titles and paragraphs we seek

articles=nasa_news_soup.find(class_="item_list")

#creates a dictionary with a basic index as the key and the title & paragraphs as keys
art_dict={count:[item.find(class_="content_title").text,item.text] for count,item in enumerate(articles)}
print(art_dict[0][1])

The symbols, mottos, and small objects added to the agency's newest Mars rover serve a variety of purposes, from functional to decorative.5 Hidden Gems Are Riding Aboard NASA's Perseverance RoverDecember  8, 20205 Hidden Gems Are Riding Aboard NASA's Perseverance RoverThe symbols, mottos, and small objects added to the agency's newest Mars rover serve a variety of purposes, from functional to decorative.

In [23]:
### getting the image url from the jpl site

In [24]:
#opening browser to jpl site 
browser.visit(jpl_mars_url)
#extracting html
jpl_html=browser.html
# browser.quit()

In [25]:
#parsing the html for the jpl site
jpl_soup=bs(jpl_html,'html.parser')

In [26]:

#### dont need this
# #### finds and prints out the last half of each jpg's url
# jpl_image=jpl_soup.find_all(class_="slide")
# # print(jpl_image)
# for x in jpl_image:
#     # print(x.a)
#     print(x.a["data-fancybox-href"])
#     print("======")

In [27]:
## finds the partial url for the first image
partial_jpl_image_url=jpl_soup.find(class_="slide").a["data-fancybox-href"]

## joins the partial url to the initial url to get the full image url
jpl_image_url=jpl_base_url+partial_jpl_image_url
print(jpl_image_url)
browser.visit(jpl_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA24275_hires.jpg

In [28]:
#visiting mars facts page and grabbing html
browser.visit(mars_facts_url)

mars_facts_html=browser.html

In [29]:
#grabbing the first table from the mars facts html and turning it into a dataframe

fact_df=pd.read_html(mars_facts_html)[0]
fact_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers